---
---

@import "{{ site.theme }}";

.container {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.thin-column {
    display: flex;
    flex-direction: column;
    // flex: 1;
    justify-content: center;
}

.zoom {
    transition: transform .2s; /* Animation */
    cursor: pointer;
}
  
.zoom:hover {
    transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* < 600 pixels disable gridding and zoom */
@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .zoom {
        margin-bottom: 30px;
    }
    .zoom:hover {
        transform: scale(1); /* disable zoom */
    }
}

.circle-image {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:350px;
    max-height:350px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.svg-icon {
    vertical-align: text-bottom;
    overflow: visible;
}

h3 {
    text-align: center;
}

span {
    display: inline-flex;
    align-items: center;
}

table {
    table-layout: fixed;
}

td, th {
    text-align: center;
}

.tooltip {
    cursor: pointer;
}

/* nested lists */
ul ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

// Resume rules

.header {
    font-size: xx-large;
    font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}

.title {
    font-size: 22px;
    color: #2a7ae2;
}

.date {
    font-size: medium;
    text-align: center;
}

.section-background {
    padding-inline: 10px;
    background-color: #f7f7f7;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 10px;
}

.svg-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.svg-icon-big {
    width: 26px;
    height: 26px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top; }
  